{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}

{%assets "appshell_css"%}
<link rel="stylesheet" 
      href="{{ ASSET_URL }}" />

{%endassets%}

<script>
  collected_onloads = [];
</script>
{%block page_styles %}
{%endblock%}
{%endblock%}

{%block scripts %}
{%for i in get_pushed_blocks('content')%}{{i}}{%endfor%}
<div class="appshell-spinner panel panel-warning" id="appshell-ajax-spinner">
  <div class="panel-heading panel-title">
    {%trans%}Please wait...{%endtrans%}
  </div>
  <div class="panel-body">
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-warning active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <span class="sr-only">Working</span>
      </div>
    </div>
  </div>
</div>
{{ super() }}

{%assets "appshell_js"%}
<script src="{{ ASSET_URL }}"></script>
{%endassets%}

{%block page_scripts %}
{%endblock%}
<script>
$(document).ready(function(){
  for (i in collected_onloads){
    collected_onloads[i]();
  }
});
</script>
{%for i in get_pushed_blocks('scripts')%}{{i}}{%endfor%}
{%endblock%}

{% block content %}
  <div class="container{%if page_layout%}-{{page_layout}}{%endif%}">
      {{ self.main_wrapped() }}
  </div>
{% endblock %}

{%macro flashed_messages() -%}
  {%with messages = get_flashed_messages(with_categories=True) -%}
    {%if messages -%} {# don't output anything if there are no messages #}
      {%for cat, msg in messages %}
  <div class="alert alert-{{cat}} alert-dismissable" role="alert">
    {{msg}} 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{%endfor -%}
{%endif -%}
{%endwith -%}
{%endmacro -%}

{%block main_wrapped %}
    {{ flashed_messages() }}
    {{ self.main() }}
{%endblock%}

{%block main %}
    {{ main_content }}
{%endblock%}

{%block title%}
  {%if page_title:%}
  {{page_title}}
  {%endif%}
{%endblock%}
