{% extends "appshell/base_plain.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "appshell/dropdowns.html" as dropdowns %}

{% block navbar %}
  {%set gettext = appshell.babel.gettext %}
  {%set menu = appshell.build_menu() %}

  {%macro top_menu_item(i): %}
      <li {{i.liattrs|xmlattr}}>
        <a {{i.aattrs|xmlattr}}>{{i.text}}
          {% if i.items %}<span class="caret"></span>{% endif %}
        </a>
        {% if i.items %}
          {{ dropdowns.grouped(i.items) }}
        {% endif %}
      </li>
  {%endmacro%}

  {%macro top_menu_items(items): %}
    {% for i in items %}{{top_menu_item(i)}}{% endfor %}
  {%endmacro%}


  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">{% trans %}Toggle navigation{% endtrans %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="{{ appshell.root_view_url() }}">{{appshell.app_name}}</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            {{ top_menu_items(menu.left) }}
          </ul>
          {%if appshell.search_view %}
            <form class="navbar-form navbar-right" target={{url_for(appshell.search_view)}}>
              <input type="text" class="form-control" name="search" placeholder="{%trans%}Search...{%endtrans%}">
            </form>
          {%endif%}
          <ul class="nav navbar-nav navbar-right">
            {{ top_menu_items(menu.right) }}
            {%if appshell.system_module%}
            {%set sysmenu = appshell.system_module.get_system_menu()%}
              {%if sysmenu%}
            {{ top_menu_item(appshell.system_module.get_system_menu_item()) }}
            {%endif%}
            {%endif%}
          </ul>    
        </div>
    </div>
  </nav>
{% endblock %}


{%block body_attribs%} class="with-navbar"{%endblock%}

{% block content %}
  {% if self.nav: %}
  <div class="container-fluid">
     <div class="row">
       <div class="col-sm-3 col-md-2 sidebar">
          {{ self.nav() }}
       </div>
       <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
         <div class="main-container{%if page_layout%}-{{page_layout}}{%endif%}">
           {{ self.main_wrapped() }}
         </div>
       </div>
     </div>
  </div>
  {% else %}
  <div class="main-full container{%if page_layout%}-{{page_layout}}{%endif%}">
    {{ self.main_wrapped() }}
  </div>
  {% endif %}
{% endblock %}

{%block title%}
  {%if page_title:%}
  {{page_title}} - 
  {%endif%}
  {%if appshell.current_module.title_text:%}
  {{ appshell.current_module.title_text }} - 
  {%endif%}
  {{ appshell.app_name }}
{%endblock%}
