{% extends "appshell/base_plain.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "appshell/dropdowns.html" as dropdowns %}

{%macro flashed_messages() -%}
  {%with messages = get_flashed_messages(with_categories=True) -%}
    {%if messages -%} {# don't output anything if there are no messages #}
      {%for cat, msg in messages %}
  <div class="alert alert-{{cat}} alert-dismissable" role="alert">
    {{msg}} 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{%endfor -%}
{%endif -%}
{%endwith -%}
{%endmacro -%}

{% block navbar %}
  {%set gettext = appshell.babel.gettext %}
  {%set menu = appshell.build_menu() %}

  {%macro top_menu_item(i): %}
      <li {{i.liattrs|xmlattr}}>
        <a {{i.aattrs|xmlattr}}>{{i.text}}
          {% if i.items %}<span class="caret"></span>{% endif %}
        </a>
        {% if i.items %}
          {{ dropdowns.grouped(i.items) }}
        {% endif %}
      </li>
  {%endmacro%}

  {%macro top_menu_items(items): %}
    {% for i in items %}{{top_menu_item(i)}}{% endfor %}
  {%endmacro%}


  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">{% trans %}Toggle navigation{% endtrans %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="{{ appshell.root_view_url() }}">{{appshell.app_name}}</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            {{ top_menu_items(menu.left) }}
          </ul>
          {%if appshell.search_view %}
            <form class="navbar-form navbar-right" target={{url_for(appshell.search_view)}}>
              <input type="text" class="form-control" name="search" placeholder="{%trans%}Search...{%endtrans%}">
            </form>
          {%endif%}
          <ul class="nav navbar-nav navbar-right">
            {{ top_menu_items(menu.right) }}
            {%if appshell.system_module %}
              {{ top_menu_item(appshell.system_module.get_system_menu_item()) }}
            {%endif%}
          </ul>    
        </div>
    </div>
  </nav>
{% endblock %}


{%block body_attribs%} class="with-navbar"{%endblock%}

{% block content %}
  <div class="container-fluid">
  {% if self.nav: %}
     <div class="row">
       <div class="col-sm-3 col-md-2 sidebar">
          {{ self.nav() }}
       </div>
       <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
         {{ flashed_messages() }}
         {{ self.main() }}
       </div>
     </div>
  {% else %}
    <div class="main-full">
      {{ flashed_messages() }}
      {{ self.main() }}
    </div>
  {% endif %}
  </div>
  <div class="appshell-spinner panel panel-warning" id="appshell-ajax-spinner">
    <div class="panel-heading panel-title">
      {%trans%}Please wait...{%endtrans%}
    </div>
    <div class="panel-body">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-warning active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
          <span class="sr-only">Working</span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{%block title%}
  {%if page_title:%}
  {{page_title}} - 
  {%endif%}
  {%if appshell.current_module.title_text:%}
  {{ appshell.current_module.title_text }} - 
  {%endif%}
  {{ appshell.app_name }}
{%endblock%}
