<table id="{{table.name}}" class="table table-striped table-hover" cellspacing="0" width="100%">
        <thead>
          <tr>
            {%for i in table.columns: %}
              {{ i.header }}
            {%endfor%}
          </tr>
        </thead>
        <tbody>
          {%for i in table.data: %}
            {{i}}
          {%endfor%}
        </tbody>
</table>
<script language="Javascript">
collected_onloads.push(function() {
    var t;
    var options = {{table.options|tojson}}
    var e = $({{("#"+table.name)|tojson}})
    {%if "scrollY" in table.options and table.options["scrollY"] < 0: %}
      options["scrollY"] = $(window).height() + {{table.options["scrollY"]}};
    {%endif%}
    t = e.dataTable(options);
    foo = t;
    {%if "fixed_header" in table.options:%}
      new $.fn.dataTable.FixedHeader(t, {"offsetTop": 50});
    {%endif%}
  });
</script>
