{%import "appshell/utils.html" as u%}

{%if table.top_toolbar%}
<div>
  {{table.top_toolbar}}
</div>
{%endif%}

<table id="{{table.name}}" 
       class="table table-striped table-hover datatable"
       {{table.attrs|xmlattr}}>
        <thead>

          {%if table.filters == 'extreme-top' %}
            <tr>
              {%for i in table.columns: %}
                <td>{{ i.get_filter_html(loop.index0, table) }}</td>
              {%endfor%}
            </tr>
          {%endif%}
          <tr>
            {%for i in table.columns: %}
            {{ i.header }}
            <!-- {{i.id}} -->
            {%endfor%}
          </tr>
          {%if table.filters == 'top' %}
            <tr>
              {%for i in table.columns: %}
                <td>{{ i.get_filter_html(loop.index0, table) }}</td>
              {%endfor%}
            </tr>
          {%endif%}
        </thead>
        <tbody>
          {%for i in table.data: %}
            {{i}}
          {%endfor%}
        </tbody>
        <tfoot>
          {%if table.filters == 'bottom' %}
            <tr>
              {%for i in table.columns: %}
                <td>{{ i.get_filter_html(loop.index0, table) }}</td>
              {%endfor%}
            </tr>
          {%endif%}
        </tfoot>
</table>
{{table.bottom_toolbar}}
{%call u.script()%}
<script language="Javascript">
collected_onloads.push(function() {
    var t;
    var options = {{table.options|tojson}}
    var e = $({{("#"+table.name)|tojson}})
    {%if "scrollY" in table.options and table.options["scrollY"] < 0: %}
      options["scrollY"] = $(window).height() + {{table.options["scrollY"]}};
    {%endif%}

    {%if table.filters:%}
       options["searchCols"] = {{table.default_filters()|tojson}}
    {%endif%}

    {%if "url" in table.options["ajax"]%}
       options["ajax"]["data"] = (function(data, settings){
         var i;
         for (i = 0; i < data.columns.length; i++){
           delete data.columns[i].searchable;
           delete data.columns[i].orderable;
           delete data.columns[i].name;
           delete data.columns[i].data;
           delete data.columns[i].search.regex;
         }
       });
    {%endif%}                                

    {%if table.options["noSaveFilters"]%}
    options.stateSaveParams = function(settings, data){
       var columns = data.columns;
       for (var i = 0; i < columns.length; i++){
         delete columns[i].search;
       }
     }
     {%endif%}                     
                         
    e.parents('.dropdown').on('shown.bs.dropdown', function(){
      t.draw();
    });
    e.parents('.modal').on('shown.bs.modal', function(){
      t.draw();
    });
    var t = e.DataTable(options);
    {%if "fixed_header" in table.options:%}
      var fho = {"offsetTop": 50};
      {%for k, v in table.options.fixed_header.iteritems(): %}
        fho[{{k|tojson}}] = {{v|tojson}};
      {%endfor%}
      new $.fn.dataTable.FixedHeader(t, fho);
    {%endif%}

    {%if not table.options["noSaveFilters"]%}
      state = t.state.loaded();
      w = $(t.table().container());
      w.find('.tablefilter').each(function(i, elem){
        var eq = $(elem);
        var column = eq.data('tablefilter-column');
        eq.val(t.column(column).search());
      })
      w.find('.tablefilter-range').each(function(i, elem){
        var eq = $(elem);
        var column = eq.data('tablefilter-column');
        v = t.column(column).search().split(';');
        if (v){
          eq.find('.range-from').val(v[0]);
          eq.find('.range-to').val(v[1]);
        };
      })
    {%endif%}

    {%for i in table.extensions%}
    {{i}}
    {%endfor%}
                         
    appshell.datatables[{{table.name|tojson}}] = t;
  });
</script>
{%endcall%}
