{%macro simple(item_list)%}
<ul class="dropdown-menu" role="menu">
{{ items(item_list) }}
</ul>
{%endmacro%}

{%macro grouped(groups) %}
<ul class="dropdown-menu" role="menu">
  {%for i in groups: %}
    {%if i.header%}
      <li role="presentation" class="dropdown-header">{{i.header}}</li>
    {%elif not loop.first %}
      <li role="presentation" class="divider"></li>
    {%endif%}
    {{ items(i) }}
  {%endfor%}
</ul>
{%endmacro%}

{%macro items(item_list) %}
  {%for i in item_list %}
    <li {{i.liattrs|xmlattr}}>
      <a {{i.aattrs|xmlattr}}>{{i.text}}</a>
    </li>
  {%endfor%}
{%endmacro%}

{%macro dropdown_select(name, 
    value, text, dropup=False, input_attrs={}, input_classes="", dropdown_classes="") %}
  <div class="dropdown{%if dropup%} dropup{%endif%}">
    <input type="hidden" 
           name="{{name}}" id="{{name}}"
           class="{{input_classes}}"
           value="{{value}}" {{input_attrs|xmlattr}}/>
    <button class="btn btn-default dropdown-toggle btn-block" 
            type="button" 
            data-toggle="dropdown"
            aria-expanded="true">
      <span class="dropdown-select-text" id="{{name}}-text">{{text}}</span>
      <span class="caret dropdown-select-caret"></span>
    </button>
    <div class="dropdown-menu dropdown-select {{dropdown_classes}}"
         data-dropdown-select-name="{{name}}">
      {{ caller() }}
    </div>
  </div>  
{%endmacro%}

{%macro dropdown_checklist (name, value, data, text="", dropup=False, input_attrs={})%}
  {%call dropdown_select(name, value, text, dropup, input_attrs=input_attrs, dropdown_classes="checklist") %}
    {%for k, v in data:%}
      <div class="checkbox">
        <label><input type="checkbox" value="{{k}}">{{v}}</label>
      </div>
    {%endfor%}
  {%endcall%}
{%endmacro%}
