{% extends appshell.base_template %}
{%import "appshell/widgets.html" as w%}

{%set page_layout='fluid'%}

{%block page_styles%}
<link rel="stylesheet" href="{{res_url('appshell.static', filename='leaflet/leaflet.css')}}" />
<link rel="stylesheet" href="{{res_url('appshell.static', filename='leaflet/MarkerCluster.css')}}" />
<link rel="stylesheet" href="{{res_url('appshell.static', filename='leaflet/MarkerCluster.Default.css')}}" />
<link rel="stylesheet" href="{{res_url('appshell.static', filename='leaflet-awesome-markers/leaflet.awesome-markers.css')}}" />
{%endblock%}

{%block page_scripts%}
<script src="{{res_url('appshell.static', filename='leaflet/leaflet.js')}}"></script>
<script src="{{res_url('appshell.static', filename='leaflet/leaflet.markercluster-src.js')}}"></script>
<script src="{{res_url('appshell.static', filename='leaflet-awesome-markers/leaflet.awesome-markers.min.js')}}"></script>
<script>
  leaflet_named_markers = {};
  
  $('#map').css('height', $(window).height() - {{appshell.skin.height_decrement - 130}});
  var map = L.map('map').setView([{{map.x|tojson}}, {{map.y|tojson}}], {{map.z|tojson}});
  L.tileLayer({{map.tilelayer|tojson}},{{map.tile_options|tojson}}).addTo(map);

  var fitTo = [];

  (function(){
  {%for i in map.elements%}
    ({{i.get_js()}}(map)).addTo(map);
  {%endfor%}
  })();

  {%if map.fit_to%}
  map.fitBounds({{map.fit_to|tojson}});
  {%endif%}
</script>{%endblock%}



{%block main%}
<div id="map"></div>
{%for i in map.after%}
{{i}}
{%endfor%}
{%endblock%}
