{%macro marker(pos, opts={}, target='map')%}
var e = L.marker({{pos|tojson}}, {{opts|tojson}});
{{target}}.addLayer(e);
{%endmacro%}

{%macro popup(popup)%}
e.bindPopup({{popup|tojson}});
{%endmacro%}

{%macro marker_cluster(c, target='map')%}
var c = new L.MarkerClusterGroup();
{%for i in c.elements%}
{{i.get_js('c')}}
{%endfor%}
{{target}}.addLayer(c);
{%endmacro%}

{%macro polyline(points, c, opts={}, target='map', klass='polyline')%}
var e = L.{{klass}}({{points|tojson}}, {{opts|tojson}});
{{target}}.addLayer(e);
{%endmacro%}

{%macro circle(pos, radius, opts={}, target='map')%}
var e = L.circle({{pos|tojson}}, {{radius|tojson}}, {{opts|tojson}});
{{target}}.addLayer(e);
{%endmacro%}
