{%macro element(items)%}
(function(){
{%for i in items%}
{{i}}
{%endfor%}
return e;
})
{%endmacro%}

{%macro icon(klass, options)%}
{{klass}}({{options|tojson}})
{%endmacro%}

{%macro marker(m, pos, opts={})%}
var e = L.marker({{pos|tojson}}, {{opts|tojson}});
{%if m.icon%}
e.setIcon({{m.icon}});
{%endif%}
{%if m.name%}
leaflet_named_markers[{{m.name|tojson}}] = e;
{%endif%}
{%endmacro%}

{%macro popup(popup)%}
e.bindPopup({{popup|tojson}});
{%endmacro%}

{%macro group(c, options, klass)%}
(function(){
var e = new L.{{klass}}({{options|tojson}});
{%for i in c.elements%}
e.addLayer(({{i.get_js()}}()));
{%endfor%}
return e;
})
{%endmacro%}

{%macro pathelement(points, opts={}, klass='polyline')%}
var e = L.{{klass}}({{points|tojson}}, {{opts|tojson}});
{%endmacro%}

{%macro circle(pos, radius, opts={}, name=None)%}
var e = L.circle({{pos|tojson}}, {{radius|tojson}}, {{opts|tojson}});
{%if name%}
leaflet_named_markers[{{name|tojson}}] = e;
{%endif%}
{%endmacro%}

{%macro layer_control(self)%}
(function(map){
overlays = {};
{%for i in self.overlays%}
var ie = ({{i[0].get_js()}})();
overlays[{{i[1]|tojson}}] = ie;
{%if i[2]%}
  map.addLayer(ie);
{%endif%}
{%endfor%}
bases = {}
{%for i in self.bases%}
var ie = ({{i[0].get_js()}})();
bases[{{i[1]|tojson}}] = ie;
{%if i[2]%}
  map.addLayer(ie);
{%endif%}
{%endfor%}
var e = L.control.layers(bases, overlays, {{self.options|tojson}});
return e;
})
{%endmacro%}

{%macro drawing_selector(ps)%}
// Initialise the draw control and pass it the FeatureGroup of editable layers
var drawControl = new L.Control.Draw({
   draw: {
     polyline: false,
     circle: false,
     marker: {{ps.allow_point|tojson}}
   }
});
map.addControl(drawControl);

map.on("draw:created", function(e){
$({{ps.handler_field|tojson}}).val(JSON.stringify(e.layer.getLatLngs()));
$({{ps.handler_modal|tojson}}).modal();
});
{%endmacro%}
