{%if treegrid.search%}
<div class="treegrid-search-panel form-inline">
  <label> 
    Search: <input class="treegrid-search form-control input-sm" 
                   type="text"
                   data-target="#{{treegrid.name}}">
  </label>
</div>
{%endif%}
<table id="{{treegrid.name}}" class="table treegrid table-hover" cellspacing="0" width="100%">
        <thead>
          <tr>
            {%for i in treegrid.columns: %}
              {{ i.header }}
            {%endfor%}
          </tr>
        </thead>
        <tbody>
          {%for i in treegrid.data: %}
            {{i}}
          {%endfor%}
        </tbody>
</table>
<script language="Javascript">
collected_onloads.push(function() {
    tg = $({{("#"+treegrid.name)|tojson}}).treegrid({{treegrid.options|tojson}});
  });
</script>
