{%macro datepicker(name, value, classes='')%}
<div class="input-group date" 
     data-provide="datepicker" 
     data-date-format="yyyy-mm-dd">
  <input type="text" 
         class="form-control {{classes}} input-sm">
  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
</div>
{%endmacro%}

{%macro rangeinput(name, value, classes='', root_attrs={})%}
<div class="input-daterange input-group {{classes}}" 
     id="datepicker" {{root_attrs|xmlattr}}>
    <input type="text" class="input-sm form-control range-from" name="{{name}}_from" value="{{value[0]}}"/>
    <span class="input-group-addon">-</span>
    <input type="text" class="input-sm form-control range-to" name="{{name}}_to" value="{{value[1]}}"/>
</div>
{%endmacro%}

{%macro daterange(name, value, classes='', root_attrs={})%}
{%set new_attrs = {"data-provide": "datepicker", "data-date-format": "yyyy-mm-dd"}%}
{%set dummy = new_attrs.update(root_attrs) %}
{{ rangeinput(name, value, classes, new_attrs) }}
{%endmacro%}

{%macro select(name, value, data, select_attrs={}, select_classes="") %}
<select name="{{name}}" class="form-control {{select_classes}}" {{select_attrs|xmlattr}}>
  {%for k,v in data: %}
  <option value="{{v}}" {%if k==value%}selected{%endif%}>{{v}}</option>
  {%endfor%}
</select>
{%endmacro%}
