{%macro flashed_messages() -%}
  {%with messages = get_flashed_messages(with_categories=True) -%}
    {%if messages -%} {# don't output anything if there are no messages #}
      {%for cat, msg in messages %}
  <div class="alert alert-{{cat}} alert-dismissable" role="alert">
    {{msg}} 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{%endfor -%}
{%endif -%}
{%endwith -%}
{%endmacro -%}

  <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{%block title%}{%endblock%}</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">

  {%assets "appshell_adminlte_full_css"%}
  <link rel="stylesheet" href="{{ASSET_URL}}">
  {%endassets%}

  {%assets filters="less", output="gen/appshell/adminlte/skins/"+appshell.skin.skin_css_class+".css", appshell.skin.skin_less_file %}
  <link rel="stylesheet" href="{{ASSET_URL}}">
  {%endassets%}

  {%block page_styles %}
  {%endblock%}
  <script>
    collected_onloads = [];
  </script>
  
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body class="hold-transition 
             {{appshell.skin.skin_css_class}} 
             {{appshell.skin.body_classes(page_layout if page_layout is defined else None)}}">
  {%block body%}

  <div class="wrapper">
    {%block content%}
    {%block main_wrapped %}
    {{ flashed_messages() }}
    {%block main %}
    {%if wrap_main_content%}
    <div class="box">
      <div class="box-body">
        {{ main_content }}
      </div>
    </div>
    {%else%}
    {{ main_content }}
    {%endif%}
    {%endblock%}
    {%endblock%}
    {%endblock%}
    
  </div>

  {% block scripts %}
  {%for i in get_pushed_blocks('content')%}{{i}}{%endfor%}
<div class="appshell-spinner panel panel-warning" id="appshell-ajax-spinner">
  <!--<div class="panel-heading panel-title">
    {%trans%}Please wait...{%endtrans%}
  </div>-->
  <div class="panel-body">
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-warning active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <span class="sr-only">Working</span>
      </div>
    </div>
  </div>
</div>

<script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
<script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
{%assets "appshell_adminlte_js" %}
<script src="{{ASSET_URL}}"></script>
{%endassets%}
{%assets "appshell_js" %}
<script src="{{ASSET_URL}}"></script>
{%endassets%}

{%block page_scripts %}
{%endblock%}
{%for i in get_pushed_blocks('scripts')%}{{i}}{%endfor%}
<script>
$(document).ready(function(){
  for (i in collected_onloads){
    collected_onloads[i]();
  }
});
</script>
{%- endblock scripts %}

{%- endblock body %}
</body>
</html>

