.modal-body {
    max-height: 80vh;
    overflow: auto;
}
.dataTables_scrollBody thead th{
    height: 0px;
    overflow: hidden;
}

.DTFC_LeftWrapper thead th{
    height: 0px;
    overflow: hidden;
}

.appshell-spinner {
    position: fixed;
    left:50%;
    top:50%;
    margin-top: -35px;
    margin-left: -150px;
    width: 300px;
    //height: 70px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.2);
    z-index: 10000;
    display: none;
}

.image-enlarge {
    position: relative;
}

.image-enlarge span {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 99;
    box-shadow: black 0px 0px 10px;
    background: white;
}
.image-enlarge:hover span {
    display: inline-block;
}

.treegrid-search-panel {
    text-align: right;
}
.treegrid-search-panel label{
    font-weight: normal;
    whitespace: nowrap;
    text-align: left;
}
.treegrid-search-hidden {
    display: none;
}

/*.box-body {
    overflow-x: auto;
    overflow-y: visible;
}*/

.dt-bootstrap {
    overflow-x: auto;
}
